<h1>New Player</h1>

<%= simple_form_for @player do |f| %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.button :submit, "Add Player" %>
<% end %>
